<div class="app-container">
  <!-- <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened>
      <p>GT</p>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <a mat-list-item routerLink=".">Home</a>
      </mat-nav-list>
      <p><button mat-button (click)="toggle()">
        <mat-icon>menu_open</mat-icon>
      </button></p>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> -->
  <app-nav-bar></app-nav-bar>
</div>