<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <h1 *ngIf="isExpanded">GradeTracker</h1>
      <h1 *ngIf="!isExpanded">GT</h1>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <a mat-list-item routerLink="" *ngIf="isExpanded">Dashboard</a>
      </mat-list-item>
      <mat-list-item routerLink="/student">
        <mat-icon mat-list-icon>person</mat-icon>
        <a mat-list-item *ngIf="isExpanded">Student Profile</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>class</mat-icon>
        <a mat-list-item routerLink="/courses" *ngIf="isExpanded">Courses</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>calendar_today</mat-icon>
        <a mat-list-item routerLink="/calendar" *ngIf="isExpanded">Calendar</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>settings</mat-icon>
        <a mat-list-item routerLink="/settings" *ngIf="isExpanded">Settings</a>
      </mat-list-item>
    </mat-nav-list>
    <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="isExpanded = !isExpanded"
        ><!-- *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav close icon" *ngIf="isExpanded">first_page</mat-icon>
        <mat-icon aria-label="Side nav open icon" *ngIf="!isExpanded">last_page</mat-icon>
      </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
